<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="product">
    <div class="wizard">
      <a routerLinkActive="active" [routerLink]="['info']">Basic information <span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span></a>
      <a routerLinkActive="active" [routerLink]="['tags']">Tags <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="row mb-2">
  <div class="col-md-4">
    <button [disabled]="!isValid()" class="btn btn-primary mr-3" style="width:80px" type="button" title="Save your entered data"
    (click)="saveProduct()">Save</button>

    <button class="btn btn-outline-secondary mr-3" style="width:80px" type="button" title="Cancel your edits"
    [routerLink]="['/products']">Cancel</button>

    <button class="btn btn-outline-warning mr-3" style="width:80px" type="button" title="Save your entered data"
    (click)="deleteProduct()">Delete</button>
  </div>
</div>



<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
